p{
    margin: 0 auto;
    animation-name: animacjaBruh;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 10%;
    font-size: 20%;
    position: relative;
    top: 200px;
}

@keyframes animacjaBruh{
    0% { font-size: 50px; color: cyan; text-shadow: 3px 4px 4px lightblue; transform: rotate(0deg);}
    25% { font-size: 75px; color: aquamarine; text-shadow: 3px 4px 4px lime; transform: rotate(90deg);}
    50% { font-size: 100px; color: crimson; text-shadow: 3px 4px 4px red; transform: rotate(180deg) ;}
    75% { font-size: 75px; color: blueviolet; text-shadow: 3px 4px 4px fuchsia; transform: rotate(270deg);}
    100% { font-size: 50px; color: cyan; text-shadow: 3px 4px 4px lightblue; transform: rotate(360deg);}
}